@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Karla", system-ui;
  font-size: 32px;
}

:root {
  /* Primary Colors */

  --red: rgba(255, 0, 0, 0.5);
  --yellow: rgba(255, 255, 0, 0.5);
  --blue: rgba(0, 0, 255, 0.5);
  --green: rgba(0, 255, 0, 0.5);
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("background.jpg");
  background-color: rgb(140, 140, 140);
  background-size: cover;
  background-blend-mode: multiply;
  overflow: hidden;
}

/* Game Framework */

.container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ludo {
  width: 900px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.upper-room,
.lower-room {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temp {
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rooms {
  width: 360px;
  height: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 60.1px;
  border-radius: 25px;
  backdrop-filter: blur(40px);
}

#room1 {
  background-color: var(--red);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 10px 0px 15px 10px #00000033;
}

#room2 {
  background-color: var(--yellow);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  box-shadow: 10px 0px 15px 10px #00000033;
}

#room3 {
  background-color: var(--blue);
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: -10px 0px 15px 10px #00000033;
}

#room4 {
  background-color: var(--green);
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: -10px 0px 15px 10px #00000033;
}

.token-room1,
.token-room2,
.token-room3,
.token-room4 {
  position: relative;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  background-color: #000000a0;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.path-clm {
  width: 60px;
  height: 360px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.path-row {
  width: 360px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.pxls {
  width: 60px;
  height: 60px;
  background-color: #ffffff80;
  backdrop-filter: blur(20px);
  border: 0.1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pxls a {
  opacity: 1;
  text-shadow: 0px 0px 5px black;
  filter: drop-shadow(0px 0px 10px black);
}

#path2 #pxl100,
#path2 #pxl101,
#path2 #pxl102,
#path2 #pxl103,
#path2 #pxl104,
#path1 #pxl003 {
  background-color: var(--red);
}

#path11 #pxl106,
#path11 #pxl107,
#path11 #pxl108,
#path11 #pxl109,
#path11 #pxl110,
#path10 #pxl016 {
  background-color: var(--yellow);
}

#path5 #pxl122,
#path5 #pxl121,
#path5 #pxl120,
#path5 #pxl119,
#path5 #pxl118,
#path4 #pxl042 {
  background-color: var(--green);
}

#path8 #pxl112,
#path8 #pxl113,
#path8 #pxl114,
#path8 #pxl115,
#path8 #pxl116,
#path7 #pxl029 {
  background-color: var(--blue);
}

.controller {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.controller button {
  position: absolute;
  width: 180px;
  height: 180px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 40px;
  border-style: none;
  border-radius: 50%;
  background: transparent;
  backdrop-filter: blur(15px);
  box-shadow: 0px 0px 5px 5px #00000033, inset 0px 0px 5px 2.5px #00000033;
  transition: all ease-out 0.3s;
  cursor: pointer;
  z-index: 100;
}

.controller button:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px, inset 0px 0px 5px 0px;
}

.center {
  width: 180px;
  height: 180px;
  display: flex;
  position: relative;
}

.center .tri1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 35px;
  text-shadow: 0px 0px 7.5px black;
}

.center .tri2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 65px;
  text-shadow: 0px 0px 7.5px black;
}

.center .tri3 a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
  left: 50px;
  text-shadow: 0px 0px 7.5px black;
}

.center .tri4 a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -15px;
  right: 50px;
  text-shadow: 0px 0px 7.5px black;
}

.center .tri1 {
  position: absolute;
  width: 0px;
  height: 0px;
  border-bottom: 90px solid rgba(255, 0, 0, 0.5);
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  bottom: 0px;
}

.center .tri2 {
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 90px solid rgba(0, 0, 255, 0.5);
  border-right: 90px solid transparent;
  border-left: 90px solid transparent;
  top: 0px;
}

.center .tri3 {
  position: absolute;
  width: 0px;
  height: 0px;
  border-right: 90px solid rgba(0, 255, 0, 0.5);
  border-top: 90px solid transparent;
  border-bottom: 90px solid transparent;
  right: 0px;
}

.center .tri4 {
  position: absolute;
  width: 0px;
  height: 0px;
  border-left: 90px solid rgba(255, 255, 0, 0.5);
  border-bottom: 90px solid transparent;
  border-top: 90px solid transparent;
  left: 0px;
}

/* Hero Framework */

.players {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 60px;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms;
}

#player1 {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#player1 *::selection {
  background-color: rgba(255, 100, 100, 0.15);
  color: rgba(255, 50, 50);
  text-shadow: 0px 0px 2px black;
}

#player2 {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

#player2 *::selection {
  background-color: rgba(255, 255, 100, 0.15);
  color: rgba(255, 255, 50);
  text-shadow: 0px 0px 2px black;
}

#player3 {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#player3 *::selection {
  background-color: rgba(100, 100, 255, 0.15);
  color: rgba(50, 50, 255);
  text-shadow: 0px 0px 2px black;
}

#player4 {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

#player4 *::selection {
  background-color: rgba(100, 255, 100, 0.15);
  color: rgba(50, 255, 50);
  text-shadow: 0px 0px 2px black;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 900px;
}

.player {
  width: 400px;
  height: 420px;
  background-color: #ffffff0f;
  backdrop-filter: blur(40px);
  box-shadow: 0px 0px 15px 10px #00000033;
  border-radius: 25px;
  padding: 20px;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 350ms;
}

.player button {
  transition: box-shadow ease-in-out 250ms;
}

.player h1 {
  text-align: center;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  color: black;
}

.player hr {
  border: none;
  border-top: 1px solid black;
  overflow: visible;
  text-align: center;
  height: 5px;
  position: relative;
  top: 20px;
}

.player-info {
  width: 38px;
  aspect-ratio: 1;
  position: absolute;
  top: 20px;
  background-color: transparent;
  box-shadow: inset 0px 0px 10px 5px #00000033;
  border-radius: 50%;
  border: none;
  display: none;
  justify-content: center;
  align-items: center;
}

.player-info::before {
  content: "Player Statistics";
  position: absolute;
  top: 0px;
  width: 240px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: invert(100%);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #00000033;
  color: black;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: transform ease-in-out 350ms, opacity cubic-bezier(0.5, 0, 0, 0.5) 300ms;
}

.player-info:hover::before {
  transform: translateY(-70px);
  opacity: 1;
}

.player-info a {
  font-size: 20px;
}

#info1 {
  color: var(--red);
}

#info2 {
  color: var(--yellow);
}

#info3 {
  color: var(--blue);
}

#info4 {
  color: var(--green);
}

#texts {
  position: relative;
  top: -70px;
  left: 195px;
  width: 165px;
  text-align: center;
}

.pawns {
  width: 360px;
  height: 60px;
  position: relative;
  top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pawns button {
  width: 80px;
  height: 60px;
  border-style: none;
  background: transparent;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 5px #00000033;
  cursor: pointer;
  transition: box-shadow ease-in-out 250ms;
}

.pawns button a {
  color: #ffffffa0;
  transition: transform ease-in-out 250ms, color ease-in-out 250ms;
}

#player1 button:hover {
  box-shadow: inset 0px 0px 10px 5px rgba(255, 0, 0, 0.25);
}

#player2 button:hover {
  box-shadow: inset 0px 0px 10px 5px rgba(255, 255, 0, 0.25);
}

#player3 button:hover {
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 255, 0.25);
}

#player4 button:hover {
  box-shadow: inset 0px 0px 10px 5px rgba(0, 255, 0, 0.25);
}

.dice {
  width: 175px;
  height: 165px;
  position: relative;
  top: 50px;
  border-style: none;
  background: transparent;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 5px #00000033;
  cursor: pointer;
}

.dice a {
  font-size: 100px;
  color: rgba(255, 255, 255, 0.75);
  transition: transform ease-in-out 250ms;
}

.pieces {
  width: 360px;
  height: 75px;
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pieces button {
  width: 50px;
  height: 50px;
  border-style: none;
  background: transparent;
  border-radius: 10px;
  box-shadow: inset 0px 0px 10px 5px #00000033;
  cursor: pointer;
}

#player1 .pieces button a {
  color: rgba(223, 0, 0, 0.69);
  filter: drop-shadow(0px 0px 2px rgba(223, 0, 0, 0.69));
}

#player2 .pieces button a {
  color: rgba(207, 207, 0, 0.69);
  filter: drop-shadow(0px 0px 2px rgba(207, 207, 0, 0.69)) 532;
}

#player3 .pieces button a {
  color: rgba(0, 0, 207, 0.69);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 207, 0.69));
}

#player4 .pieces button a {
  color: rgba(0, 207, 0, 0.69);
  filter: drop-shadow(0px 0px 2px rgba(0, 207, 0, 0.69));
}

.pawns button:hover a {
  transform: scale(1.15);
}

.dice:hover a {
  transform: scale(1.1);
}

.blink a {
  animation-name: diceBlinking;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all ease-in-out 500ms;
}

#blink {
  animation-name: pawnBlinking;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition: all ease-in-out 500ms;
  z-index: 5;
}

@keyframes diceBlinking {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pawnBlinking {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.pxls a {
  text-shadow: 0px 0px 1.5px black;
}

/* Winning Pop Up */

.pop-up {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up * {
  font-family: "Barlow";
}

#pop-up1 a {
  color: rgba(255, 50, 50, 0.69);
  /* text-shadow: 0px 0px 0px black; */
  filter: drop-shadow(0px 0px 5px var(--red));
}

#pop-up2 a {
  color: rgba(255, 255, 50, 0.69);
  text-shadow: 0px 0px 2px black;
  filter: drop-shadow(0px 0px 5px var(--yellow));
}

#pop-up3 a {
  color: rgba(50, 50, 255, 0.69);
  text-shadow: 0px 0px 2px black;
  filter: drop-shadow(0px 0px 5px var(--blue));
}

#pop-up4 a {
  color: rgba(50, 255, 50, 0.69);
  text-shadow: 0px 0px 2px black;
  filter: drop-shadow(0px 0px 5px var(--green));
}

#pop-up1 *::selection {
  background-color: rgba(255, 150, 150, 0.25);
  color: rgba(255, 50, 50);
  text-shadow: 0px 0px 1px black;
}

#pop-up2 *::selection {
  background-color: rgba(255, 255, 150, 0.25);
  color: rgba(255, 255, 50);
  text-shadow: 0px 0px 1px black;
}

#pop-up3 *::selection {
  background-color: rgba(150, 150, 255, 0.25);
  color: rgba(50, 50, 255);
  text-shadow: 0px 0px 1px black;
}

#pop-up4 *::selection {
  background-color: rgba(150, 255, 150, 0.25);
  color: rgba(50, 255, 50);
  text-shadow: 0px 0px 1px black;
}

.info-container {
  width: 850px;
  padding: 1rem;
  aspect-ratio: 4 / 3;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  border: 5px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 10px #00000033;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 69;
  transition: opacity ease-in-out 200ms;
}

.info-container hr {
  border: none;
  border: 1.5px solid black;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  overflow: visible;
  text-align: center;
  width: 90%;
  position: absolute;
  top: 120px;
}

.info-container h1 {
  position: absolute;
  top: 20px;
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  word-spacing: 12.5px;
}

.info-container a {
  font-size: 1.5rem;
}

.cross-x {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  aspect-ratio: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 0px 10px #000000;
  display: none;
  justify-content: center;
  align-items: center;
  transition: transform linear 200ms;
}

.cross-x a {
  font-size: 25px;
  filter: drop-shadow(0px 0px 2px black);
}

.cross-x:hover {
  transform: scale(1.15) rotateZ(90deg);
}

.stats-holder {
  width: 700px;
  height: 300px;
  position: absolute;
  top: 160px;
  display: grid;
  grid-area: 2 / 3;
}

.stats-matrix {
  padding: 5px 30px;
  width: 350px;
  height: 100px;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-holder {
  position: absolute;
  top: 480px;
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter-matrix:not(b) {
  width: 100px;
  aspect-ratio: 1;
  border: 2px solid white;
  border-radius: 7.5px;
  filter: drop-shadow(0px 0px 1px black);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-matrix a {
  position: absolute;
  top: -4px;
  left: -1px;
  font-size: 40px;
  filter: drop-shadow(0px 0px 1px black);
}

.counter-matrix b {
  font-weight: 400;
  font-size: 1.5rem;
}